
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --titulo: #20c997;
    --fundo: white;
    --fundo-header: #13795b;
    --texto-header: white;
    --texto: black;
    --placeholder: rgb(136, 127, 127);
    --placeholder-focus: white;

    --placeholder-date: gray;

    --link: blue;
    --link-hover: black;

    --barra-pesquisa: rgba(255, 255, 255, 0);
    --borda-pesquisa: rgb(187, 183, 183);

    --icone: #38bdf8;

    --borda: black;
    --borda-input: black;
    --input-focus: black;
    --texto-input: black;

    --hamburguer: black;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    box-sizing: border-box;
}




body {
    background-color: var(--fundo);
    color: var(--texto);
    font-family: 'Work Sans', sans-serif;
}

.preto {
    background-color: black;
}

.flex {
    display: flex;
}


/* icones */

.icones {
    width: 24px;
    height: 24px;
    padding-inline: 1rem;
}
/*--------------*/





/* --------- header ------------*/

.logo {
    text-decoration: none;
    color: var(--titulo);
    font-size: 20rem;
}

.logo h1 {
    color: var(--titulo);
}

.caixa-nav {
    background-color: var(--fundo-header);
    border: 1px solid var(--borda);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    box-sizing: border-box;
}   

.pesquisa {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0 0.1rem;
}

.iconePesquisa {
    position: absolute;
    color: var(--icone);
    padding-inline: 0.3rem;
    pointer-events: none;
}

.barraPesquisa {
    width: 30rem;
    padding: 0.3rem 1.5rem;
    background-color: var(--barra-pesquisa);
    border-radius: 30px;
    border: 1px solid var(--borda-pesquisa);
}

.barraPesquisa::placeholder {
    color: var(--placeholder);
}

.barraPesquisa:focus {
    outline: none;
}

.barraPesquisa:focus+.iconePesquisa,
.barraPesquisa:focus::placeholder {
    color: var(--placeholder-focus);
}

.caixa-nav li {
    list-style: none;
}

.caixa-nav a {
    color: var(--link);
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--link-hover);
}

.mudar-tema {
    background: none;
    border: none;
    color: var(--link);
    cursor: pointer;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    background-color: var(--hamburguer);
}

/* -------------------------- */


/* index */

main {
    position: absolute;
    top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bem-vindo {
    font-size: 1.5rem;
    color: var(--titulo);
}

/* CARD */

.card {
    max-width: 30rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem;
    padding: 0.5rem;
}

.cardHeader {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 0 0.5rem;
}

.txtUsuario {
    font-style: italic;
}

.cardTitulo {
    text-align: center;
    color: #20c997;
}

.cardText {
    text-align: justify;
}

.cardFooter {
    display: flex;
    border-top: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.cardIcone {
    color: var(--icone);
}

.date {
    color: var(--placeholder-date);
}
/*--------------------------*/


/*-----------------------*/


@media only screen and (width: 375px) {
    /* Mobile M */

    * {
        font-size: 17px;
    }
}

@media only screen and (width: 425px) {
    /* Mobile L */

    * {
        font-size: 19px;
    }
}

@media screen and (max-width: 425px){
    
    .barraPesquisa {
        max-width: 10rem;
    }
    
    
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 768px) {
    /* Tablet para cima */

    * {
        font-size: 21px;
    }


    /* header */

    .iconePesquisa {
        color: var(--placeholder);
    }

    .autenticacao {
        display: flex;
    }

    .barraPesquisa {
        max-width: 20rem;
    }

    /*----------------------- */

    .card {
        border: 1px solid black;
        padding: 0 1rem;
    }
    
}

@media screen and (max-width: 1023px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 2.3rem;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        background-color: var(--fundo-header);
        width: 100%;
        border: 1px solid var(--borda);
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

@media screen and (min-width: 1024px) {
    /* Laptop para cima */

    * {
        font-size: 20px;
    }

    .descricao {
        display: none;
    }

    .barraPesquisa {
        max-width: 30rem;
    }
}

@media screen and (min-width: 1440px) {
    /* Laptop L para cima */

    * {
        font-size: 24px;
    }
}

@media screen and (min-width: 2560px) {
    /* 4k para cima para cima */

    * {
        font-size: 26px;
    }
}