:root {
    --fundo: white;
    --fundo-header: black;
    --texto-header: white;
    --texto: black;
    --placeholder: gray;
    --placeholder-focus: black;

    --link: white;
    --link-hover: rgb(6, 6, 167);

    --barra-pesquisa: white;

    --icone: black;

    --borda: white;
    --borda-input: black;
    --input-focus: black;
    --texto-input: black;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
    color: var(--texto);
}

.preto {
    background-color: black;
}

.flex {
    display: flex;
}

/* icones */

.icones {
    width: 24px;
    height: 24px;
    padding-inline: 1rem;
}
/*--------------*/





/* --------- header ------------*/

.logo {
    text-decoration: none;
    color: var(--texto-header);
    font-size: 10em;
}

.caixa-nav {
    background-color: var(--fundo-header);
    border: 1px solid var(--borda);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    justify-content: space-around;
    padding-inline: 0.7rem;
    padding-block: 0.5rem;
    box-sizing: border-box;
}

.pesquisa {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
}

.iconePesquisa {
    position: absolute;
    color: var(--icone);
    padding-inline: 0.3rem;
    pointer-events: none;
}

.barraPesquisa {
    padding-block: 0.2rem;
    padding-inline: 1.5rem;
    background-color: var(--barra-pesquisa);
    border-radius: 30px;
    border: 1px solid black;
}

.barraPesquisa::placeholder {
    color: var(--placeholder);
    margin-inline: 0.1rem;
}

.barraPesquisa:focus {
    outline: none;
}

.barraPesquisa:focus+.iconePesquisa,
.barraPesquisa:focus::placeholder {
    color: var(--placeholder-focus);
}

.caixa-nav li {
    list-style: none;
}

.caixa-nav a {
    color: var(--link);
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 3px;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: gray;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    background-color: var(--texto-header);
}

main {
    position: absolute;
    top: 80px;
}


/* -------------------------- */



@media only screen and (width: 375px) {
    /* Mobile M */

    * {
        font-size: 17px;
    }
}

@media only screen and (width: 425px) {
    /* Mobile L */

    * {
        font-size: 19px;
    }
}

@media screen and (max-width: 425px){
    
    .barraPesquisa {
        max-width: 10rem;
    }

    
}

@media screen and (min-width: 768px) {
    /* Tablet para cima */

    * {
        font-size: 21px;
    }

    /* header */

    .iconePesquisa {
        color: var(--placeholder);
    }

    .autenticacao {
        display: flex;
    }

    /*----------------------- */

    /* AUTENTICAÇÃO */

    .auCaixa-form {
        border: 1px solid var(--borda);
    }

    .auPrincipal {
        /* quando chega no tablet muda o flex */
        flex-direction: row;
        padding: 0 1rem;
        gap: 0.5rem;
    }

    /* -------------------- */
}

@media screen and (max-width: 1023px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 48px;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        background-color: var(--fundo-header);
        width: 100%;
        border: 1px solid var(--borda);
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

@media screen and (min-width: 1024px) {
    /* Laptop para cima */

    * {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {
    /* Laptop L para cima */

    * {
        font-size: 28px;
    }
}

@media screen and (min-width: 2560px) {
    /* 4k para cima para cima */

    * {
        font-size: 36px;
    }
}